@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #315264 inset !important;
  -webkit-text-fill-color: #e5e3ed;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #124969;
}

html {
  /* background: 'red'; */
  font-family: "Noto Sans JP", sans-serif;
}

#root {
  width: 100%;
  height: auto;
  overflow: auto;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
}

@media (min-width: 768px) {
  #root {
    min-height: 100vh;
  }
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}


@keyframes liquidMoving {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-200%);
  }
}


[id*="liquid"] {
  animation: liquidMoving 2s linear infinite;
}
